# App Config
PORT=3000
# File destination value: local|cloud
FILE_DESTINATION=local
APP_URL=http://localhost:3000

# Database Config
DATABASE_URL="postgresql://username:password@host:port/dbname?schema=public"

# JSON Web Token
SECRET_KEY=rahasia

# Google API
GOOGLE_API_KEY_FILE=
GOOGLE_DRIVE_FOLDER_ID=

# Logger
# Transport value: console|file|both
LOGGER_TRANSPORT=console
# Logger value: error|warn|info|http|verbose|debug|silly
LOGGER_LEVEL=http
